# Acá se adjuntan los directorios
# que no van a ser pusheados al 
# repo.
# algunos de estos directorios contienen
# librerias o archivos de configuración
# que pueden generarse mediante
#
# $ nmp install
#

# FRONT END

# compiled output
front-end/dist
front-end/tmp
front-end/out-tsc

# IDEs and editors
front-end/.idea
front-end/.project
front-end/.classpath
front-end/.c9/
front-end/*.launch
front-end/.settings/
front-end/*.sublime-workspace

# IDE - VSCode
front-end/.vscode/*

# misc
front-end/.sass-cache
front-end/connect.lock
front-end/coverage
front-end/libpeerconnection.log
front-end/npm-debug.log
front-end/yarn-error.log
front-end/testem.log
front-end/typings

# System Files
.DS_Store
Thumbs.db


# BACK END
# Coverage directory used by tools like istanbul
back-end/coverage

# nyc test coverage
back-end/.nyc_output

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
back-end/.grunt

# Bower dependency directory (https://bower.io/)
back-end/bower_components

# node-waf configuration
back-end/.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
back-end/build/Release

# Dependency directories
back-end/node_modules/
back-end/jspm_packages/

# TypeScript v1 declaration files
back-end/typings/

# Optional npm cache directory
back-end/.npm

# Optional eslint cache
back-end/.eslintcache

# Optional REPL history
back-end/.node_repl_history

# Output of 'npm pack'
back-end/*.tgz

# Yarn Integrity file
back-end/.yarn-integrity

# dotenv environment variables file
back-end/.env

# next.js build output
back-end/.next
