# Acá se adjuntan los directorios
# que no van a ser pusheados al 
# repo.
# algunos de estos directorios contienen
# librerias o archivos de configuración
# que pueden generarse mediante
#
# $ nmp install
#

# FRONT

# compiled output
front-end/dist
front-end/tmp
front-end/out-tsc

# dependencies
front-end/node_modules

# IDEs and editors
front-end/.idea
front-end/.project
front-end/.classpath
front-end/.c9/
front-end/*.launch
front-end/.settings/
front-end/*.sublime-workspace

# IDE - VSCode
front-end/.vscode/*

# misc
front-end/.sass-cache
front-end/connect.lock
front-end/coverage
front-end/libpeerconnection.log
front-end/npm-debug.log
front-end/yarn-error.log
front-end/testem.log
front-end/typings

# System Files
.DS_Store
Thumbs.db
